<h1>Welcome to Final project Home Site, 
    <p>
      You have successfully signed up Kassim And Jakub Final project home site ,
      your username is: <br/>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= @url %>"></a>
    </p>
    <p>Thanks for joining and have a great day!</p>